

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40vh;
    width:50vw;
    background-color: green;
    margin:auto
}
.form * {
    margin-top: 10px;
}
.form > button{
    position: relative;
    top:10px;
    margin-bottom: 2px;
}